$navbarHeight: 70px;

@import "bootstrap";
@import "compass";

body { padding-top: 120px;}

.navbar .brand {
	color: #000;
	font: normal 36px/50px bello-pro-n4,bello-pro,sans-serif;
	@include text-shadow(
		-1px -1px 0 #cf2036,
     1px -1px 0 #cf2036,
     -1px 1px 0 #cf2036,
      1px 1px 0 #cf2036,
		2px 2px 1px #fff);
	.wf-loading {
		visibility: hidden;
	}
	.wf-active {
		visibility: visible;
	}
}

.footer {
	text-align: center;
}

.clear {
	clear: both;
}

@import "pages";
