/* 12 Grid */
.rt-grid-3,  .rt-grid-9, .rt-grid-12 {display: inline;float: left;position: relative;margin-left: 10px;margin-right: 10px;}
.rt-container .rt-grid-3 {width: 220px;}
.rt-container .rt-grid-9 {width: 700px;}
.rt-container .rt-grid-12 {width: 940px;}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;background: transparent;}

/* Grid Container */
.rt-container {margin: 0 auto;width: 960px;background: #fff;background: transparent;}
body {min-width: 960px;}

/* Grid Block */
.rt-block {padding: 15px;margin-bottom: 10px;position: relative;}

/* Font Stacks */
.font-family-helvetica {font-family: Helvetica, Arial, FreeSans, sans-serif;}

/* Typography */
body {font-size: 12px;line-height: 1.7em;font-family: Helvetica,Arial, Sans-Serif;}
form {margin: 0;padding: 0;}
p {margin: 0 0 15px 0;}
h1, h2, h3, h4, h5 {margin: 15px 0;line-height: 1.1em;}
h1 {font-size: 260%;}
h2 {font-size: 200%;}
h3 {font-size: 175%;}
h4 {font-size: 120%;}
h5 {font-size: 120%;}
h2.title {font-size: 170%;letter-spacing: -1px;line-height: 1em;}
a {text-decoration: none;outline: none;}

/* Style */
html,body {margin-bottom: 1px;}
body {color: #333;}
#rt-header {color: #aaa;}
a:hover {color: #000;}

/* Background */
#rt-body-background {background: #E8EAEB url(/assets/body/body-bg.png);border-bottom: 1px solid #fafafa;}

/* Module Variations */
.box3 .rt-block {background: #fff;border: 1px solid #cecece;}

/* Structure */
#rt-header-background {background: #363835 url(/assets/header/dark/header-bg.png) 50% 100% repeat-x;}
#rt-header-bottom {background: url(/assets/header/dark/header-bottom.png) 50% 100% repeat-x;}

/* Top Menu */
.rt-menubar {background: #282828;border-top: 1px solid #1c1c1c;border-bottom: 1px solid #3E3F3D;}

/* Structure */
body, #footer {background: #252525 url(/assets/footer/dark/footer-bg.png) repeat;}
#footer {
	text-align: center;
	padding: 10px 0;
	display: block;
	text-align: center;
	color: #aaa;
	width: 960px;
	margin: auto;
}

/* Notice Styles */
pre {font-style:italic;overflow: auto;padding: 10px;margin-bottom: 15px;}
 
/* Structure */
body {text-rendering: optimizeSpeed;}

/* Border Radius */
.box3 .rt-block, .rt-menubar {-moz-border-radius: 5px;}

/* Background Clip */
.rt-menubar {-moz-background-clip: padding-box;}

/* Transitions */
a {
	-moz-transition: color 0.2s ease-out;
	-webkit-transision: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

/* Core */
html, body {margin-bottom: 1px;height: 100%;}
body {font-family: Helvetica,Arial,sans-serif;}
a {font-weight: bold;}
.rt-block {margin: 10px 0;}
ul {list-style-image: none;}

/* Top Menu */
.rt-menubar {display: inline-block;float: right;border-radius: 5px;position: relative;height: 35px;}
.menu-block {margin-top: 5px;margin-right: -15px;}

/* Header */
#rt-header-surround {position: relative;}
#rt-header-bottom {height: 22px;margin-bottom: -7px;margin-top: -1px;}

/* Main Body */
#rt-body-background {padding: 6px 0 20px 0;}

/* Copyright */
.copytext {}

#rt-header .menutop {z-index:1;}

/* Top Menu */
.menutop li {
	float: left;
	margin: 0 2.5px 0 2.5px;
	padding: 0;
	list-style: none;
	border: 1px solid #282828;
	-moz-transition: background 0.2s ease-out;
	-webkit-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
.menutop a {
	display: block;
	font-size: 13px;
	z-index: 100;
	cursor: pointer;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 0 10px;
	color: #fff;
	text-shadow: -1px -1px 1px #000;
	-moz-transition: background 0.2s ease-out;
	-webkit-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

.menutop li.active, .menutop li:hover {
	background: #A2A4A5;
	background: -moz-linear-gradient(0% 50% 270deg,#A2A4A5, #7C7C7D);
	background: -webkit-gradient(linear, 0% 3%, 0% 100%, from(#A2A4A5), to(#7C7C7D));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.menutop li.signup {
	background: #41A507;
	background: -moz-linear-gradient(0% 50% 270deg,#41A507, #287A4C);
	background: -webkit-gradient(linear, 0% 3%, 0% 100%, from(#41A507), to(#287A4C));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Sub Menu */
#submenu {
	display: inline-block;
	padding: 0 10px 15px 10px;
	margin-top: -5px;
	float: right;
}

#submenu li {
	list-style: none;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 1px;
    padding: 8px 12px 6px;
    text-transform: uppercase;
	background: none repeat scroll 0 0 #BABBBC;
	border-bottom: 1px solid #F0F0F0;
	text-shadow: 1px 1px 1px #e0e0e0;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#submenu li:hover {
	background: none repeat scroll 0 0 #d01820;
}

#submenu li:hover a {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

#submenu a {
	color: #555555;
}

.headerimg {
	margin-top: -15px; 
	margin-bottom: -10px;
}

/* Drop Menu */
#dropmenu {
	display: none;
	float: right;
	position: relative;
	left: -158px;
}

#dropmenu ul {
	position: absolute;
	top: 31px;
	z-index: 200;
}

#dropmenu li {
	float: none;
}

.homebox {
	float: left;
	height: 80px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #cecece;
	-moz-border-radius: 5px;
	background: #E8EAEB url(/assets/body/body-bg.png)
}

.homelink {
	padding: 25px 10px;
	background: #fff;
	font-size: 24px;
	text-align: center;
	color: #000;
	-moz-border-radius: 5px;
 	position: relative;
	top: 30px;
	border: 1px solid #cecece;
}

/* User Show */
.gravatar {
	border: 1px solid #cecece;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#user_show_sidebar {
	float: left;
	margin-right: 20px;
}

#user_show_content {
	float: left;
	width: 55%;
}

#user_info h1 {
	margin-bottom: 5px;	
}

#user_profile {
}

.user_border {
	border: 1px solid #cecece;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.status_time {
	color: #cecece;
}

#user_status_feed hr {
	margin-bottom: 0px;
}

.status_actions a {
	color: #cecece;
	font-weight: normal;
}

.status_actions a:hover {
	color: #000;
}

.service {
	display: inline-block;
	background: #e5ecf9;
	padding: 5px;
	margin: 0px 5px 5px 0;
	line-height: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* Sign Up */
#copy_box {
	float: left;
	width: 620px;
	padding: 0 25px 0 0;
	border-right: 1px solid #cecece;
}

#copy_box h1 {
	font-size: 1.7em;
	float: right;
	position: relative;
	top: -2em;
	margin-bottom: -1.5em;
}

#copy_box h2, #copy_box h4 {
	text-align: center;
	font-weight: bold;
}

#copy_box p {
	color: #445f95;
	font-size: 1.2em;
	margin-bottom: 15px;
}

.phonebook_guy {
	float: right;
	padding: 20px 10px 10px 10px;
}

#right_column {
	float: right;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
}

#right_column h2 {
	text-align: center;
	color: #d01820;
	font-size: 1.8em;
	font-weight: bold;
}

.fieldset, .fieldset input[type=text], .fieldset input[type=email], .fieldset input[type=password], hr {
	width: 220px;
}

.fieldset {
	line-height: 10px;
}

.underline {
	text-decoration: underline;
}

.strikethru {
	text-decoration: line-through;
}

.center {
	text-align: center;
}

.red {
	color: #d01820;
}

.light {
	color: #cecece;
}

.headline {
	font-size: 24px;
	font-family: Tahoma, Times, serif;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	line-height: 30px;
}

.address {
	width: 300px;
	margin-top: 0px;
}

.address tr.even td {
	background: #fff;
}

.terms_box {
	border: 1px solid #cecece;
	width: 600px;
	height: 200px;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}