@mixin curvedarrow($color,$size,$rotate,$tail_dir) {
	position: relative; 
	width: 0; 
	height: 0; 
	border-top: $size solid transparent; 
	border-right: $size solid $color;
	@include rotate($rotate);
	&:after {
		content: ""; 
		position: absolute; 
		border: 0 solid transparent;
		@if $tail_dir == left {	
			border-top: $size/2 solid $color;
			border-radius: $size*10 0 0 0;
			top: -$size*4/3;
			left: -$size*19/20; }
		@else {
			border-bottom: $size/2 solid $color;
			border-radius: 0 0 0 $size*10; 
			top: -$size*2;
			right: -$size*11/10; }
		width: $size*4/3;
		height: $size;
		@include rotate(45deg);
	}
}

.theater {
	background: black;
	width: 100%;
	top: 80px;
	left: 0px;
	position: absolute;
}

.backdrop {
	text-align: center;
	background: #000 url(image_path('darkcurtain3.jpg')) repeat-x;
	width: 100%;
	height: 500px;
	margin-top: 10px;
}

.leftcurtain{
	width: 5%;
	height: 430px;
	top: 10px;
	left: 0px;
	position: absolute;
	z-index: 4;
}
.rightcurtain{
	width: 5%;
	height: 430px;
	right: 0px;
	top: 10px;
	position: absolute;
	z-index: 2;
}
.rightcurtain img, .leftcurtain img{
	width: 100%;
	height: 100%;
}
.sign {
	float: left;
	position: absolute;
	top: 160px;
	left: -20%;
	@include rotate(15deg);
	z-index: 3;
	font: normal 24px/36px bello-pro-n4,bello-pro,sans-serif;
	background: white;
	border: 5px solid black;
	@include border-radius(10px);
	width: 120px;
	height: 35px;
	padding: 15px;
	img {
		margin-top: 15px;
		margin-left: -55px;
		height: 100px;
	}
}

#screen {
	background-color: white;
	height: 310px;
	@include border-radius(10px);
	width: 900px;
	text-align: center;
	margin: 0px auto;
	border: 5px solid black;
	position: relative;
	top: 30px;
	padding: 20px;
	#splash {
		float: left;
		#bottom_buttons {
			margin: 30px 0 20px;
		}
		#amazonarrow { 
			float: left;
			margin: 20px 0 20px 40px;
			@include curvedarrow(#fba300,30px,10deg,left);
		}
		#huluarrow {
			float: right;
			margin: 20px 40px 20px 0;
			@include curvedarrow(#56b250,30px,80deg,right);
		}
		#netflixarrow { 
			float: right;
			margin: -15px 40px 20px 0;
			@include curvedarrow(#d3493d,30px,190deg,left);
		}
		#itunesarrow { 
			float: left;
			margin: -15px 0 20px 40px;
			@include curvedarrow(#3ca6c7,30px,260deg,right);
		}
		#headline {
			
		}
	}
	#search_form {
		float: right;
		margin-top: 115px;
		.help-block {
			display: none;
			text-align: left;
			padding-left: 65px;
		}
	}
	.image img {
		background-color: gray;
		width: 20%;
		height: 250px;
		float: left;
	}
	.title {
		
	}
	.desc {
		text-align: left;
		margin-left: 2.5%;
		width: 55%;
		float: left;
		.links {
			ul { margin: 0; }
			li {
				font-size: 14px;
				display: inline-block;
				list-style-type: none;
				padding: 6px;
			}
		}
	}
	.space {
		width: 20%;
		height: 250px;
		margin-left: 2%;
		float: left;
	}
}

#column-seating {
	width: 960px;
	text-align: center;
	margin: -20px auto 20px;
}
#col1 {
	float: left;
	width: 25%;
	.row1 { left: 0%; }
	.row2 { left: -10%; }
	.row3 { left: -20%; }
	.rown { left: -20%; }
}
#col2 {
	float: left;
	width: 25%;
	.row1 { left: 0%; }
	.row2 { left: -5%; }
	.row3 {	left: -10%; }
	.rown { left: -10%; }
}
#col3 {
	float: left;
	width: 25%;
	.row1 { left: 0%; } 
	.row2 { left: 0%; }
	.row3 { left: 0%; }
	.rown { left: 0%; }
}
#col4 {
	float: left;
	width: 25%;
	.row1 { left: 0%; }
	.row2 { left: 5%; }
	.row3 { left: 10%; }
	.rown { left: 10%; }
}

.row1, .row2, .row3, .rown {
	position: relative;
	text-align: center;
	margin: -50px auto 0;
}
.row1 {
	width: 90%;
	margin: 0px auto 0;
}
.row2 {
	width: 95%;
}
.row3 {
	width: 100%;
}
.rown {
	width: 100%;
}

.back {
	border-top: 220px solid #990033; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	height: 0px;
	@include border-radius(100px 100px 0 0/30px 30px 0 0);
}
.shadow {
	@include box-shadow(0px -8px 0 #ff3300);
}
.info {
	position: relative;
	top: -220px;
	margin: 15px 10px 30px 10px;
	background-color: white;
	border: 1px solid black;
	height: 140px;
	padding: 5px;
	overflow: hidden;
}

.result {
	display: none;
	.plate {
		position: relative;
		top: -210px;
		left: 30%;
		width: 40%;
		height: 24px;
		padding-top: 2px;
		border: 1px solid rgba(250,228,143,.55);
		@include background(linear-gradient(rgba(250,228,143,1),rgba(255,194,48,1) 35%,rgba(159,127,0,1)));
		@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.85));
		font-size: 20px;
		color: rgba(159,127,0,.85);
		font-variant: small-caps;
		@include text-shadow(-1px -1px 1px #fff, 1px 1px 1px #000);
	}
	img {
		float: left;
		width: 80px;
		margin-right: 5px;
	}
	.desc {
		overflow:hidden;
		text-align: left;
		h4 {
			float: left;
			text-align: left;
		}
	}
	.no_data {
		text-align: center;
		margin: 20px auto;
	}
}
